*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

body{
    background-color:rgb(247, 248, 249);
}

.container-header{
    width: 80%;
    margin: auto;
    padding: 10px;
    background-color: white;
    border-top: 1px solid rgb(228, 228, 229);
}

.titolo{
    line-height: 50px;
}

#logo{
    height: 50px;
    vertical-align: middle;
}

h1{
    display:inline;
    vertical-align: middle;
    font-size: 45px;
}

.container-main{
    width: 60%;
    margin: 30px auto;
    border-radius: 1%;
    background-color: white;
    padding-bottom: 10px;
}

.bottoni{
    border-bottom: 1px solid rgb(228, 228, 229);
    padding: 5px 50px 0px 50px;
    margin-bottom: 25px;
}

#bottone-blu{
    margin-left: 50px;
    width: 75px;
    height: 30px;
    text-align: center;
    border-radius: 9%;
    background-color: rgb(99, 171, 235);
    border: 0;
    margin: 10px 0;
    color: white;
}

#bottone-trasparente{
    width: 90px;
    height: 30px;
    text-align: center;
    border-radius: 9%;
    background-color: white;
    border: 1px solid lightgrey;
    margin: 10px 0;
    color: lightgrey;
}

.new-task{
    margin-left: 50px;
}

h3{
    margin-bottom: 5px;
}

.lista{
    margin-left: 5px;
}

ul{
    list-style: none;
    margin-bottom: 25px;
}

li{
    margin-bottom: 15px;
}

.check{
    display: inline-block;
    background-color: white;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    border: 1px solid rgb(159, 209, 194);
    color: rgb(159, 209, 194);
    font-size: 12px;
}

.cross{
    display: inline-block;
    background-color: white;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    border: 1px solid rgb(223, 119, 110);
    color: rgb(223, 119, 110);
    font-size: 12px;
}

.btn{
    color: white;
    border: 0;
    height: 25px;
    width: 60px;
    border-radius: 12px;
}

.blue{
    background-color: rgb(103, 170, 227);
}

.violet{
    background-color: rgb(150, 116, 221);
}

.dark-green{
    background-color: rgb(123, 190, 170);
}

.orange{
    background-color: rgb(230, 162, 75);
}

.purple{
    background-color: rgb(201, 106, 159);
}

.green{
    background-color: rgb(182, 200, 73);
}


