*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

body{
    background-color:rgb(247, 248, 249);
}

.container-header{
    width: 80%;
    margin: auto;
    background-color: white
    border-top: 1px solid rgb(228, 228, 229);
}

.titolo{
    line-height: 50px;
}

#logo{
    height: 50px;
    vertical-align: middle;
}

h1{
    display:inline;
    vertical-align: middle;
}

main{
    background-color: rgb(201, 201, 201);
}