*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.container-header{
    width: 80%;
    margin: auto;
    background-color: white;
    border-bottom: 1px grey;
}

#logo{
    height: 50px;
    vertical-align: middle;
    

}

h1{
    display:inline;
    text-align: center;
    line-height: 50px;
}

main{
    background-color: lightgray;
}